@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Potta One', sans-serif;
}

$blue: #3E5CA2;
$blue-dark: #041258;
$blue-light: #8FA3D3;
$blue-opacity: rgba(4, 18, 88, 0.4);
$yellow: #F7CC46;
$yellow-opacity: rgba(247, 204, 70, 0.9);
$red: #CD3529;
$white: #FFFFFF;
$green: #55AE58;
$black: #28262E;
$pink: #FA769D;
$yellow-aux: #FCCF7F;
$gray: #C4C4C4;
$gray-light: #DFDDDD;
$gradient1: linear-gradient(180deg, #3E5CA2 0%, #143685 100%);